#deco-sep{
    height: 220px;
}

section{
    background-size: cover;
}
.img-deco{
    margin-bottom: 150px;
}

.about{
    width: 100%;
    padding: 78px 0;
    margin-bottom:50px;
}
.about img{
    height: auto;
    width: 550px;
    border-radius: 57% 43% 55% 45% / 38% 77% 23% 62% ;
    padding: 20px;
}
.about-text{
    width: 50%;
    margin-top: 150px;
    background: url("Imgs/1.png");
}
.main{
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-image: url("Imgs/1.jpg" );
    background-size: cover;
}
.about-text h1{
    color: white;
    font-size: 4vh;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding: 0 20px;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 2px;
    animation: nameAnim 5s ease-in-out infinite;
}

.about-text p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 2.2vh;
    text-align: justify;
    padding: 20px;
}

.about-text p span:hover{
    color: #00FF1B;
}
@media screen and (max-width:800px){
    .main{
        display: block;
        background-image: url("file:///D:/Users/Usuario/Desktop/MyPage/Imgs/AboutMeBackground.jpg" );
        background-size: cover;
        align-content: center;
    }
    .about-text{
        width: 100%;
        margin-top: 0;
    }
    h1{
        text-align: center;  
    }
    .about-text h1{
        font-size: 3vh;
    }
    #img-me{
        align-content: center;  
        border-radius: 0%;
    }
}



.img-fot{
    width: 100%;
}


#titleToday{
    color: white;
    font-size: 5em;
    text-transform: capitalize;
    font-weight: 100;
    padding: 25px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5cm;
    margin: auto;
}

.container .card{
    width: 320px;
    height: 320px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    border: 0.1px solid #130808;
    border-radius: calc(40 * 1px);
    background-color: rgba(0, 0, 0, 0.288);
}


.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #00FF1B;
}

.container .card img{
    width: 350px;
    height: 220px;
}

.container .card h4{
    font-weight:600;
    font-size: 2vh;
    color:white
}

.container .card p{
    padding: 5px;
    font-size: 1.2vh;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-align: center;
    color:white;
    font-family: 'Varela Round', sans-serif;
    margin-top: 20px;
}


.masDe3{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 0.7em;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-top: 25px;
}

.boton-download{
    padding: 0; border: none; background: none;
    margin-top: 10px;
}

.boton-download:hover{
    border: 1px solid #00FF1B;
    border-radius: 10px;
}

.a-boton-download{
    color: #00FF1B;
    border-color: #000;
    text-decoration: none;
    font-size: 1.5vh;
    padding: 15px;
    font-family: 'Secular One', sans-serif;
    text-decoration: none;
    outline: none;
}

@media screen and (max-width:800px){
    .container .card{
        width: 280px;
        height: 280px;
    }
    .container .card img{
        width: 280px;
        height: 180px;
    }
    #titleToday{
        font-size: 2em;
    }
}


@keyframes nameAnim {
0%{
      opacity: 0;
  }
  30%{
    opacity: 10;
  }
  50%{
      opacity: 0;
  }
  100%{
      opacity: 10;
  }
}

